@font-face {
    font-family: 'Lora-Regular';
    src: url('./fonts/Lora-Regular.ttf');
} 
@font-face{
    font-family: 'Roboto-MediumItalic';
    src: url(./fonts/Roboto-MediumItalic.ttf);
}

.container{
    background-color: rgba(238, 238, 238, 0.856);
}
.text-secondary{
    font-family: 'Lora-Regular';
    font-size: 4em;
    text-decoration: underline;
    font-weight: 500;
    margin:  20px 12px;
    padding: 40px 0px 25px 50px;
}
.story{
    font-family: 'Roboto-MediumItalic';
    color: #333333;
    line-height: 1.5;
    text-align: justify !important;
    width: 42%;
    margin: 3% 0px 0px 28%;
}
.story::first-letter{
    font-size: 30px !important;
}
.message{
    margin: 5% 0px 17% 28%;
    width: 42%;
    padding-bottom: 5%;
}
.form-group:hover{
    color: rgb(202, 52, 52) !important;
}
input:hover{
    color: red !important;
}
.btn-warning:hover{
    background: linear-gradient(to right, rgb(159, 31, 182),
         rgb(224, 46, 46) 70%) !important;
    color: #ffffff !important;
}
.cell{
    font-family: 'Lora-Regular';
    color: #333333;
    word-spacing: 5px !important;
    font-weight: bold;
    line-height: 8px;
}
.social-media{
    font-size: 23px;
}
.social-media a:hover{
    color: #fc5c65;
}
