.tab{
    margin-top: 50px;
    margin-left: 70px;
    height: 50% !important;
    width: 60% !important;
}
.tab1{
    margin-top: 50px;
    margin-left: 70px;
    height: 10% !important;
    width: 60% !important;
}